/* CSS de base */

body {
    margin: 0
}


/* Barre de navigation */

header nav {
    background-color: rgb(48, 48, 48);
    height: 40px;
    padding: 5px 20px;
    position: fixed;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header nav i {
    font-size: 1.5rem;
    color: rgb(223, 177, 26);
    margin-right: 30px;
}

header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

header nav ul li {
    list-style-type: none;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-family: Josefin Sans;
    -webkit-transition: 0.5s;
    transition: 0.5s
}

header nav ul a {
    color: white;
    text-decoration: none;
    height: 40px;
}

header nav ul li:hover {
    background-color: rgb(19, 19, 19);
    -webkit-transition: 0.5s;
    transition: 0.5s
}

header nav a:nth-of-type(2) li {
    border-left: 2px solid white;
    border-right: 2px solid white
}


/* Main de base */

main {
    padding: 50px 5% 0 5%;
}

main h1 {
    font-family: roboto mono;
    font-size: 3rem
}

main h1 a,
main h2 a {
    color: rgb(105, 105, 105);
    -webkit-transition: 0.5s;
    transition: 0.5s
}

main h1 a:hover,
main h2 a:hover {
    color: rgb(54, 54, 54);
    -webkit-transition: 0.5s;
    transition: 0.5s
}

main h2 {
    font-family: roboto mono;
    font-size: 1.5rem;
    font-weight: 200
}

main section h1 {
    font-size: 1.5rem
}


/* Index */

.mainIndex {
    padding: 50px 5% 0 5%;
}

.mainIndex .SectionFav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.mainIndex .music-cartouche .fa-star {
    color: rgb(223, 177, 26)
}


/* Search */

.mainSearch {
    width: 100%;
    padding-left: 0
}

.mainSearch section:nth-of-type(1) {
    width: 300px;
    background-color: black;
    height: calc(100vh - 50px);
    font-family: sans-serif;
    position: fixed;
    color: white;
}

.mainSearch #form-search input:nth-of-type(1) {
    width: 85%;
    margin-left: 7.5%;
    border-radius: 5px;
    border: solid 1px grey;
    height: 30px;
    padding: 0 30px 0 5px;
    margin-top: 15px;
    box-sizing: border-box;
    font-size: 0.8rem
}

.mainSearch #form-search img {
    height: 20px;
    margin-left: -30px;
    position: absolute;
    margin-top: 20px;
}

.mainSearch #form-search .order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 7.5%;
    margin: 15px 0;
}

.mainSearch #form-search select {
    width: 60%;
    font-size: 0.8rem;
    height: 30px;
    border: 0;
}

.mainSearch #form-search input[type=submit] {
    width: 40%;
    font-size: 1rem;
    margin-left: 30%;
}

.mainSearch .musique {
    padding-left: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.mainSearch .whiteBar {
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 20px 0
}

.mainSearch .actuMusic div {
    padding: 0 10px
}

.mainSearch .actuMusic div button {
    height: 25px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: white;
    margin: 4px 4px
}

.mainSearch h1,
.mainSearch h2 {
    font-family: roboto mono;
    margin: 30px
}

.mainSearch .musique {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.musicTop50 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}


/* Favoris */

.mainFav .musicFav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.mainFav .music-cartouche .fa-star {
    color: rgb(223, 177, 26)
}


/* Cartouche de musique */

.music-cartouche {
    height: 300px;
    width: 300px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px;
    font-family: sans-serif
}

.music-cartouche .fa-star {
    margin-left: calc(230px);
    font-size: 1.3rem;
    color: black;
    cursor: pointer
}

.music-cartouche img {
    width: 175px;
    box-shadow: 0 0 10px black;
    margin-bottom: 15px;
}

.music-cartouche .row1 span {
    margin-left: auto;
    margin-right: 5px
}

.music-cartouche p {
    margin: 0;
    text-align: center;
}

.music-cartouche audio {
    width: 100%;
    margin-bottom: 10px;
}

.hiddenInf {
    display: none
}